.home-wrapper{
  margin: ($base-size * 3.5) auto;
  padding: 0;
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

section{
  margin: ($base-size) 0;
  padding: ($base-size * 2) 0;
}

.home_nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.home_nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  text-decoration: none;
}

.nav_tile{
  width: 48%;
  height: $base-size * 10;

  border-radius: $radius;
  background-size: cover;
  background-position: center;

  &_name{
    @extend .h1;
    color: $color-light;
    transition: 0.3s;
  }

  &:hover h3{
    transform: translate(0, -25%);
  }
}

.tile_order{
  background-image: url(../../images/home/pizza-1.jpg);
}

.tile_booking{
  background-image: url(../../images/home/pizza-2.jpg);
}

.opening_hours{
  display: flex;
  flex-direction: column;
  background-color: $color-main;
  justify-content: center;
  align-items: center;

  &_title,
  &_subtitle{
    color: $color-light;
    text-align: center;
  }

  &_title{
    @extend .h1;
  }

  &_subtitle{
    @extend .h2;
  }
}

.carousel-cell{
  height: $base-size * 20;
  display: flex;

  &_img-wrapper{
    width: 50%;
  }

  &_description{
    width: 50%;
    padding: $base-size * 2;
  }

  &_img-wrapper img{
    width: 100%;
  }
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-img-wrapper{
  width: 30%;
  height: $base-size * 20;
  position: relative;
  margin: $base-size 1%;

  &::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.0);
  }

  &:hover::after{
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .icons{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    z-index: 1;
  }

  .fa-heart,
  .fa-share-alt{
    margin: 0 $base-size;
    font-size: 24px;
    color: $color-light;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
      color: $color-main;
    }
  }

  &:hover i{
    opacity: 1;
  }
}

.ig-page a, .ig-page a:hover {
  color: $color-main; 
}

.instagram {
  font-size: 14px;
  margin-left: 10px;
}
